<% flash.each do |key, value| %>
  <div class="flash flash_<%= key %>"><%= value %></div>
<% end %>

<h1>Add Application</h1>


<%= form_with url: applications_path, method: :post, data: { turbo: false }, local: true do %>
  <%= label_tag :url, "Final apply URL" %>
  <%= text_field_tag :url, "", id: "application_url" %>

  <%= submit_tag "Add Application" %>
<% end %>
