<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title><%= content_for?(:title) ? yield(:title) : "FlowTrack" %></title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;800&display=swap" rel="stylesheet">

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <script src="https://cdn.jsdelivr.net/npm/plotly.js-dist@2.35.2/plotly.min.js"></script>
</head>

<body class="app">
<header class="nav glass">
  <div class="brand">JobTracker<span class="dot">•</span></div>

  <nav class="nav-actions">
    <!-- bell with badge -->
    <div class="nav-bell">
      <button class="nav-icon-btn" type="button">🔔</button>
      <span class="nav-badge">1</span>
    </div>

    <!-- progress pill -->
    <div class="nav-progress-pill">
      <span class="nav-progress-main">
        <span class="nav-progress-icon">📋</span>
        <span class="nav-count"><%= header_application_count %>/11</span>
      </span>

      <div class="nav-tooltip">
        <span class="nav-tooltip-icon">?</span>
        <div class="nav-tooltip-text">
          Daily application goal: 11. </br>
          Click to edit.

        </div>
      </div>
    </div>




    <!-- avatar + dropdown -->
    <div class="nav-avatar">
      <div class="nav-avatar-circle"></div>
      <span class="nav-avatar-name">
        Hi, <%= current_user&.username || "Guest" %>
      </span>
    </div>

    <% if signed_in? %>
      <%= button_to "Sign out",
            sign_out_path,
            method: :delete,
            form: { class: "inline-form" },
            class: "nav-button" %>
    <% else %>
      <%= link_to "Sign in", sign_in_path, class: "nav-link" %>
    <% end %>
  </nav>
</header>

<%= render "layouts/flash" %>

<main class="container">
  <%= yield %>
</main>

<footer class="footer">© <%= Time.current.year %> JobTracker</footer>
</body>
</html>
